<ul class="list-group list-group-flush" *ngIf="items.length; else notItems">
  <li
    class="list-group-item"
    *ngFor="let item of items">
    <div>{{ item.name }}</div>
    <div class="custom-control custom-switch">
      <input
        type="checkbox"
        class="custom-control-input"
        [id]="'customSwitch' + item.id"
        [checked]="item.done"
        (input)="[item.done = !item.done, updateItemStatus(item)]">
      <label class="custom-control-label" [for]="'customSwitch' + item.id">Feito</label>
    </div>
  </li>
</ul>

<ng-template #notItems>
  <p>Não existe nenhum item nessa lista</p>
</ng-template>


<div class="modal fade" id="itemAdd" tabindex="-1" role="dialog" aria-labelledby="itemAdd" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemAddlabel">Adicione um item a lista</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nameItem">Nome do item</label>
            <input 
              type="text"
              class="form-control"
              id="nameItem"
              aria-describedby="nameItem"
              (input)="updateItemValue($event.target.value)">
            <small id="nameITemLabel" class="form-text text-muted">Escreva o nome do item que deseja adicionar a lista</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button
          (click)="insertItem()"
          type="button"
          class="btn btn-primary">
            Salvar
        </button>
      </div>
    </div>
  </div>
</div>