<div class="container-fluid">
  <div class="row">
    <nav class="col-md-12 navbar navbar-expand-lg bg-primary">
      <a class="navbar-brand" href="#">
        <img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" width="40" height="40" class="d-inline-block align-top" alt="">
      </a>
      <h3>Front end teste Angular</h3>
    </nav>
  </div>
  
  <div class="row mt-4 app-wrapper">
    <div class="col-md-2">
      <app-sidebar-menu (eventClicked)="childEventClicked($event)"></app-sidebar-menu>
    </div>

    <div class="col-md-10">
      <div class="jumbotron">
        <app-list-card  [selectCategory]="clickedEvent"></app-list-card>
      </div>

      <div class="row justify-content-end" *ngIf="clickedEvent">
        <div class="col-md-12">
          <button class="btn btn-primary">
            Adicionar Lista
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-end">
    <nav class="col-md-12 footer navbar navbar-dark bg-dark">
      <ul>
        <li>
          Desenvolvido por Denis Ibanez - Engineer Front End
        </li>
        <li>
          <a href="https://www.linkedin.com/in/denis-ibanez/">
            <img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-512.png" alt="linkedin">
          </a>
        </li>
        
      </ul>
    </nav>
  </div>
</div>