.card-wrapper {
  display: flex;
  flex-wrap: wrap;

  .card {
    width: 18rem;
    margin: 0 15px;

    .card-body {
      padding: 15px;
      height: 50px;
      .card-title {
        text-transform: uppercase;
      }
    }
  }
}

@media(max-width: 767px) {
  .card-wrapper {
    .card {
      margin: 0;
      width: 100%;
    }
  }
} 